.centered {
  margin: 0 auto;
  margin-top: 5%;
  position: fixed;
  margin-left: 550px;
  width: 25%;
  background-color: black;
}
.but1 {
  margin: 30px;
  margin-right: 90px;
}
.but2 {
  margin-left: 90px;
}
.input1 {
  display: block;
  margin: 30px;
  margin-left: 100px;
}

.but3 {
  margin: 30px;
  margin-left: 150px;
}

.text {
  color: white;
  font-family: cursive;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}
.but4 {
  margin-bottom: 30px;
  margin-left: 165px;
}
